@import "../../styles/breakpoints";
@import "../../styles/vars";

.achievements {
  margin: 15rem 0 0 0;
  &__list {
    //display: flex;
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
  }
  &__title {
    text-align: center;
  }

}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    background-color: $achievement-bg;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;

    svg {
      margin-bottom: 5px;
      g {
        fill: #000000;
      }
    }

    &--done {
      background-color: $achievement-done-bg;
      svg {
        g {
          fill: #FFF;
        }
      }
    }


  }

  &__title {
    text-align: center;
    margin-top: 1rem;
  }
}