@import "../../styles/breakpoints";
@import "../../styles/vars";

.achievements {
  margin: 12rem 0 0 0;
  &__list {
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-rows: auto;
  }
  &__title {
    text-align: center;
  }

}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    background-color: $achievement-bg;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;

    width: 100px;
    height: 100px;

    svg {
      margin-bottom: 5px;
      g {
        fill: #000000;
      }
    }

    &--done {
      background-color: $achievement-done-bg;
      svg {
        g {
          fill: #FFF;
        }
      }
    }


  }

  &__title {
    text-align: center;
    margin-top: 1rem;
  }
}

// min-width

@media (min-width: $screen-md) {
  .achievements {
    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
    }
  }
}

// max-width

@media (max-width: $screen-md) {
  .achievements {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;

      grid-gap: 2rem;
    }
  }
}

@media (max-width: $screen-sm) {
  .achievements {
    &__list {
      grid-template-columns: 1fr 1fr;

      grid-gap: 1rem;
    }
  }
}