@import '../../../../styles/breakpoints';

.preview {
  //width: 30%;


  &__image {
	position: absolute;
	transform: translate(-50%, -50%);
	
	z-index: -1;
	
	pointer-events: none;
	
	&_social {
	  //width: 50%;
	  //top: 34%;
	  left: 50%;
	  
	  opacity: .14;
	}
  }

  &__description {
	margin: 2rem 0 5rem 0;
  }
}

// min-width

@media (min-width: $screen-lg) {
	.preview {
		padding: 250px 0 200px 0;
	}

}

// max-width

@media (max-width: $screen-lg) {
	.preview {
		padding: 150px 0 100px 0;
	}
}

@media (max-width: $screen-sm) {
	.preview {
		width: 50%;

		&__image {
			&_social {
				width: 100%;
				top: 30%;
			}
		}
	}

}