@import "../../../styles/vars";
@import "../../../styles/breakpoints";

.burger-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $burger-bg;
  color: black;
  min-height: 100vh;
  min-width: 60vw;
  box-shadow: 0 0 10px rgba(43, 43, 43, 0.2);
  transform: translateX(-100%);
  transition: 300ms;



  &__header {
    display: flex;
    align-items: center;
    padding: 20px 65px 20px 20px;
  }

  &__username {
    padding-left: 10px;
  }
  &__burger-nav {
    margin: 0 auto;
  }
  &__hr-line {
    position: absolute;
    bottom: 40px;
  }
  &__switch-theme {
    position: absolute;
    bottom: 6px;
    left: 20px;
  }
  &__cross {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.active {
  transform: translateX(0);
  transition: 300ms;
}

.burger-nav {
  padding: 20px 20px 60px 20px;


  &__list {
    display: flex;
    flex-direction: column;

  }
  &__link {
    color: black;

    display: flex;
    align-items: center;

    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
  &__icon {
    min-width: 80px;
    height: 50px;
  }
}

// min-width

@media (min-width: $screen-md) {
  .burger-menu {
    display: none;
  }
}

// max-width

@media (max-width: $screen-sm) {
  .burger-menu {
    min-width: 100vw;
  }
}