@import '../../../../styles/vars';
@import '../../../../styles/breakpoints';

.reviews {

  &__title {
    margin-bottom: 5rem;
    text-align: center;
  }
}

// min-width

@media (min-width: $screen-lg + 1) {
  .reviews {
    padding: 150px 0;

  }
}

// max-width

@media (max-width: $screen-lg) {
  .reviews {
    padding: 0 0 50px 0;
  }
}