$text-dark-color: #131418;
$header-bg-color: #e6f6d1;

$learn-button-bg-color: #a36e5c;
$learn-button-color: #f3f1d1;

$programs-icon-bg: #7AB165;

$detox-easy-bg: #fbe6c0;
$detox-medium-bg: #f2e2d8;
$detox-hard-bg: #d6decb;

$review-bg: #f8f8f8;
$review-image: #607C2F;

$news-bg: #f3f1d1;
$tomorrow-button-bg: #7ab165;
$tomorrow-button-text: #F3F1D1;

$entry-header-text: #7ab165;
$entry-header-dark-text: #265c00;

$entry-form-bg: #f2eeaa;
$entry-form-input: #e5f3cc;

$entry-social-bg: #dfdb9c;
