@import "__colors";

.header {
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 0;
    }
    &__nav {
        flex-basis: 70%;
    }
    &__profile {
        justify-content: flex-end;
    }
}
.logo {
    width: 100%;
    max-width: 70px;
}
.bg {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
    position: absolute;
    top: 50%;
    z-index: -1;
    margin-top: -25px;
    background-color: $header-bg-color;
}
.nav {
    &__list {
        display: flex;
        justify-content: space-between;
    }
}
.profile {
    display: flex;
    align-items: center;
    &__name {
        padding-left: 1.5rem;
    }
}
