@import '../../../../styles/breakpoints';

.detox-program {
  position: relative;

  &__title {
	text-align: center;
	padding-bottom: 5rem;
  }
  
  &__cards {
	display: flex;
  }
}

// min-width

@media (min-width: $screen-lg) {
	.detox-program {
		padding: 100px 0;
	}
}

@media (min-width: $screen-md) {
	.detox-program {
		height: 700px;
		&__cards {
			align-items: flex-start;
			justify-content: space-between;
		}
	}
}

// max-width

@media (max-width: $screen-lg) {
	.detox-program {
		padding: 50px 0;
	}
}

@media (max-width: $screen-md) {
	.detox-program {
		&__cards {
			flex-direction: column;
		}
	}
}