@import '../../../../../../styles/vars';

.step {
  display: flex;
  align-items: center;
  
  &:not(:first-of-type) {
	margin-top: 5rem;
  }
  
  &__icon {
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $programs-icon-bg;
    
    & img {
      width: 50%;
      height: 50%;
    }
  }
  
  &__description {
    padding-left: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__title {
    font-family: "Montserrat Bold", sans-serif;
  }

  &__subtitle {
    padding: 0.5rem 0 0 0;
  }
}