@import "../../styles/vars";
@import "../../styles/breakpoints";

.header {
	&__logo {
		width: 100%;
		max-width: 70px;
	}
}

@media (min-width: 601px) {
	.header {
		position: relative;
		z-index: 2;
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.7rem 0;
		}
		&__nav {
			flex-basis: 70%;
		}
		&__profile {
			justify-content: flex-end;
		}

		&__auth {
			display: flex;
			align-items: center;

		}

		&__profile {
			height: 30px;
			margin: 0 15px 0 0;
		}

		&__login {
			position: relative;
			height: 20px;
			padding: 5px 5px;

			color: $text-dark-color;

			transition: 0.2s;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;

				height: 1px;
				width: 100%;

				background-color: black;
				opacity: 0;

				transition: opacity 0.2s;

				pointer-events: none;
			}
		}

		&__auth:hover &__login {

			&::after {
				opacity: 0.25;
			}
		}

		&__switch-theme {
			cursor: pointer;
		}
	}

	.nav {
		&__list {
			display: flex;
			justify-content: space-between;
			height: 20px;
		}

		&__link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 1rem;
			padding: 5px 15px;

			color: $text-dark-color;

			transition: 0.2s;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;

				height: 1px;
				width: 100%;

				background-color: black;
				opacity: 0;

				transition: opacity 0.2s;

				pointer-events: none;
			}

			&:hover,
			&_active {

				&::after {
					opacity: 0.25;
				}
			}
		}
	}

	.bg {
		width: 100%;
		height: 50px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
		position: absolute;
		top: 50%;
		z-index: -1;
		margin-top: -25px;
		background-color: $header-bg-color;
	}


}


@media (max-width: $screen-md) {
	.header {
		display: none;
	}
}