.your-program {
    &__icon {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $programs-icon-bg;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__post-title {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0 2rem 0 2rem;
    }
    &__input {
        width: 4.5rem;
        height: 3rem;
        border-radius: 0.5rem;
        text-align: center;
    }

    &__other {
        display: flex;
        align-items: center;
    }

    &__or {
        font-size: 2rem;
        margin: 0 2rem;
    }
    &__submit {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

.achievements {
    &__list {
        //display: flex;
        //flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2rem;
    }

}
.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        background-color: $achievement-bg;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 50%;

        svg {
            margin-bottom: 5px;
            g {
                fill: #000000;
            }
        }

        &--done {
            background-color: $achievement-done-bg;
            svg {
                g {
                    fill: #FFF;
                }
            }
        }


    }

    &__title {
        text-align: center;
        margin-top: 1rem;
    }
}