@import './vars';
@import './breakpoints';


@font-face {
  font-family: 'Montserrat Black';
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Black Italic';
  src: url("../assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Bold Italic';
  src: url("../assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Extra Bold';
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Extra Bold Italic';
  src: url("../assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Extra Light';
  src: url("../assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Extra Light Italic';
  src: url("../assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Italic';
  src: url("../assets/fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Light';
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Light Italic';
  src: url("../assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Medium Italic';
  src: url("../assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Semi Bold';
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Semi Bold Italic';
  src: url("../assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Thin';
  src: url("../assets/fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat Thin Italic';
  src: url("../assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  list-style: none;
  text-decoration: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

html {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: $font-size-default-high;
  color: $text-dark-color;
  
  @media (max-width: 1000px) {
	font-size: $font-size-default-low;
  }
  
  @media (max-height: 800px) {
	font-size: $font-size-default-low;
  }
  
  @media (max-width: 1200px) {
	font-size: $font-size-default-middle;
  }
  
  @media (min-width: 2600px) {
	font-size: $font-size-default-max;
  }
}

body {
  background: linear-gradient(-45deg, #dfdb9c, #e6f6d1) no-repeat fixed;
  overflow-x: hidden;
}

.action-button {
  padding: 1rem 3rem;
  border-radius: 2rem;
  
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.2rem;
  color: $learn-button-color;
  
  background-color: $learn-button-bg-color;
  
  cursor: pointer;
}

.description {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

.hr-line {
  width: 100%;
  border: 0.5px solid black;
  background-color: black;
  opacity: 15%;
}

.container {
  margin: 0 auto;
}

.wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.container--lg {
  max-width: 85%;
  margin: 0 auto;
}
.container--xl {
  max-width: 95%;
  margin: 0 auto;
}

.container-bg-image-kiwi {
  width: 100%;
  position: relative;
}
.container-bg-image-social {
  width: 100%;
  position: relative;
  background: url("../assets/images/bg-social.png") 60% 0 no-repeat;
  z-index: -10;
}
.container-bg-image-smoothie-social {
  width: 100%;
  position: relative;
}
.container-bg-image-smoothie {
  width: 100%;
  position: relative;
}
.container-bg-image-strawberry {
  width: 100%;
  position: relative;
}
.container-bg-image-banana {
  width: 100%;
  position: relative;
}

.onboarding {
  display: none;
}

.onboardingVisible {
  display: block;
}

.tutorial-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: $tutorial-button-text;
  background-color: $tutorial-button-bg;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: none;
  z-index: 5;
  pointer-events: auto;
}

h1 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.9rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

// min-width

@media (min-width: $screen-lg + 1) {
  .container {
    max-width: 70%;
  }
  .container-bg-image-smoothie-social {
    background: url("../assets/images/bg-smoothie.png") 90% 40% / auto 80% no-repeat;
  }

  .container-bg-image-kiwi {
    background: url("../assets/images/bg-kiwi.png") 100% 100% / auto 100% no-repeat;
  }
  .container-bg-image-smoothie {
    background: url("../assets/images/bg-smoothie-image.png") -10% 0 / auto 100% no-repeat;
  }
}

@media (min-width: $screen-md + 1) {
  .container-bg-image-strawberry {
    background: url("../assets/images/bg-strawberry.png") 100% 100% / auto 40% no-repeat;
  }
  .container-bg-image-banana {
    background: url("../assets/images/bg-banana.png") 100% 0 / auto 40% no-repeat;
  }
}

// max-width

@media (max-width: $screen-lg) {
  .container-bg-image-smoothie-social {
    background: url("../assets/images/bg-smoothie.png") 100% 40% / auto 60% no-repeat;
  }

  .container {
    max-width: 85%;
  }
  .container-bg-image-kiwi {
    background: url("../assets/images/bg-kiwi.png") 100% 0 / auto 100% no-repeat;
  }

  .container-bg-image-smoothie {
    background: url("../assets/images/bg-smoothie-image.png") -20% 0 / auto 80% no-repeat;
  }
}

@media (max-width: $screen-md) {
  .container-bg-image-kiwi {
    background: url("../assets/images/bg-kiwi.png") 100% 50% / auto 65% no-repeat;
  }
  .container-bg-image-smoothie-social {
    background: url("../assets/images/bg-smoothie.png") 105% 35% / auto 50% no-repeat;
  }
  .container-bg-image-smoothie {
    background: url("../assets/images/bg-smoothie-image.png") -20% 20% / auto 30% no-repeat;
  }
  .container-bg-image-strawberry {
    background: url("../assets/images/bg-strawberry.png") 120% 100% / auto 20% no-repeat;
  }
  .container-bg-image-banana {
    background: url("../assets/images/bg-banana.png") 115% 5% / auto 20% no-repeat;
  }
}

@media (max-width: $screen-sm) {
  .container-bg-image-kiwi {
    background: url("../assets/images/bg-kiwi.png") 100% 80% / auto 45% no-repeat;
  }
  .container-bg-image-smoothie {
    background: url("../assets/images/bg-smoothie-image.png") -30% 30% / auto 20% no-repeat;
  }
  .container-bg-image-smoothie-social {
    background: none;
  }
  .container-bg-image-strawberry {
    background: url("../assets/images/bg-strawberry.png") 125% 100% / auto 15% no-repeat;
  }
  .container-bg-image-banana {
    background: url("../assets/images/bg-banana.png") 125% 5% / auto 15% no-repeat;
  }

  h1 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h5 {
    font-size: 1.2rem;
    font-weight: 200;
  }
  h6 {
    font-size: 1rem;
  }
  .description {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 1.5rem;
  }
}