$font-size-default-max: 15px;
$font-size-default-high: 13px;
$font-size-default-middle: 10px;
$font-size-default-low: 8px;

$text-dark-color: #131418;
$header-bg-color: #e6f6d1;

$learn-button-bg-color: #a36e5c;
$learn-button-color: #f3f1d1;

$programs-icon-bg: #7AB165;

$detox-submit-bg: #F1EBE7;

$review-bg: #f8f8f8;
$review-image: #607C2F;

$news-bg: #f3f1d1;
$tomorrow-button-bg: #7ab165;
$tomorrow-button-text: #F3F1D1;

$entry-header-text: #7ab165;
$entry-header-dark-text: #265c00;

$entry-form-bg: #f2eeaa;
$entry-form-input: #e5f3cc;

$entry-social-bg: #dfdb9c;

$achievement-done-bg: #7AB165;
$achievement-bg: #C4C4C4;
$achievement-svg-done: #fff;
$achievement-svg: #000;

$burger-bg: #E6F6D1;
$burger-cross-color: #7AB165;

$mobile-logo-color: #6DA52C;
$mobile-logo-dark-color: #265C00;

